.todo-container {
  width: 440px;
}

.todo-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.todo-title {
  font-size: 28px;
  font-weight: 700;
  color: #333333;
}

.todo-add {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 28px;
}

.todo-list {
  display: flex; 
  flex-direction: column; 
  gap: 20px;
}

.todo-item {
  display: flex; 
  justify-content: flex-start; 
}

.checkbox {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #f1f1f1;
}

.checkbox.checked {
  background-color: #0A84FF;
}

.checkbox.checked::after {
  content: '✓';
  display: block;
  color: white;
  font-size: 14px;
  text-align: center;
  font-weight: 900;
}

.todo-text {
  font-size: 16px;
  color: #333333;
  align-self: center; 
  font-weight: 500;
}

.todo-category {
  font-size: 16px;
  color: #333333;
  margin-left: auto;
  padding: 5px 40px;
  border-radius: 15px;
  font-weight: 500;
}

.modal-overlay {
  position: fixed; 
  inset: 0; 
  background: rgba(0, 0, 0, 0.2); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  width: 450px;
  padding: 40px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.modal-title {
  font-size: 20px;
  color: #333333;
  margin-bottom: 30px;
  font-weight: 500;
}

.modal-section {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-label {
  font-size: 20px;
  color: #333333;
  margin-bottom: 10px;
  font-weight: 500;
}

.modal-categories {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.modal-categoryitem {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}

.text-input {
  width: 370px;
  padding: 20px;
  font-size: 16px;
  font-family: "Paperlogy", sans-serif;
  background: #f1f1f1;
  border-radius: 10px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.text-input::placeholder {
  color: #8f8f8f;
}

.routine-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Paperlogy", sans-serif;
  font-weight: 500;
  border: none;
  background: transparent;
}

.routine-label {
  font-size: 20px;
  color: #333333;
}

.routine-button {
  cursor: pointer;
  font-size: 26px;
  color: #333333;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.leftbutton {
  padding: 15px 70px;
  font-size: 20px;
  color: #FF3B30;
  border: 2px solid #FF3B30;
  background: transparent;
  border-radius: 15px;
  cursor: pointer;
  font-family: "Paperlogy", sans-serif;
}

.rightbutton {
  padding: 15px 70px;
  font-size: 20px;
  color: #fff;
  background: #0A84FF;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-family: "Paperlogy", sans-serif;
}

.routine-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  font-weight: 500;
}

.routine-title {
  font-size: 20px;
  color: #333333;
}

.routine-close {
  margin-right: 120px; 
  cursor: pointer;
  font-size: 26px;
  color: #333333;
}

.date-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.date-input {
  width: 170px;
  padding: 15px 20px;
  font-size: 16px;
  font-family: "Paperlogy", sans-serif;
  background: #f1f1f1;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: auto; 
}

.leftbutton2 {
  padding: 15px 70px;
  font-size: 20px;
  color: #0A84FF;
  border: 2px solid #0A84FF;
  background: transparent;
  border-radius: 15px;
  cursor: pointer;
  font-family: "Paperlogy", sans-serif;
}